.preview {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  height: 60%;
}

.previewWindow {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.top-button-box {
  display: flex; 
  gap: 1px; 
}

.export-latex {
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #f2f2f2;
}

.export-docx {
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #f2f2f2;
}

.update-button {
  padding: 20px 20px;
  background-color: #328CC1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-top: 2%;
}