/* SettingsButton.css */

.gear-button {
    position: relative;
    background-color: #328CC1;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -76px;
    top: 15px;
  }
  
  .gear-button:hover {
    background-color: #2980b9;
  }
  
  .fa-cog {
    color: #9fd5f5; /* Change the color as needed */
    font-size: 24px; /* Adjust the font size as needed */
    /* Add any other styles as needed */
  }
  